.add {
  width: 22vh;
  margin-left: 2vh;
  height: 5vh;
  margin-top: 4vh;
  background: rgb(140, 210, 245);
}

hr {
  background: rgb(0, 174, 255);
}

.ultimo {
  width: 40vh;
  height: 10vh;
  margin-top: 4vh;
  background: rgb(31, 129, 221);
  outline-color: white;
}
